@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:20px;}img{border:none;}li{list-style:none;}input,select,textarea{outline:none;}textarea{resize:none;}
a{text-decoration:none;}

ul li {float:left;margin-left:5px;}
#selectbtn{margin-left:50%;float:left}
ul{float:left;position:relative;left:-50%}
.clear{clear:both;width:100%;height:100%;}

