@charset "utf-8";
/* CSS Document */
.center{width:100%;text-align:center;padding-top:50px;}
#overlay{width:100%;height:100%;background-color:#A4A4A4;opacity:0.5;position:absolute;left:0;top:0;display:none;}
#win{width:25%;height:20%;background-color:#FFF;position:absolute;left:0;right:0;margin:10% auto;border:3px solid #FBBF51;border-radius:5px;display:none;}
h2{text-align:right;background-color:#FC0;padding:5px;margin:0;font-size:12px;border-bottom:3px solid #FBBF51;}
h2 span{display:inline-block;cursor:pointer;background-color:#FFF;border:1px solid #F90;padding:0 2px;}