@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:20px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}

#box1{width:300px;height:150px;position:absolute;left:600px;top:200px;background:#333;border:2px solid #ccc;color:#FFF;}
#box1 h2{border-bottom:2px solid #ccc;height:40px;line-height:40px;text-align:right;cursor:move;}
#box1 h2 a{font-size:18px;margin-right:20px;}
#box1 p{line-height:36px;height:36px;text-indent:10px;color:red;}